* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.top-bar {
  background: #293b44;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.logo {
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.logo h1 {
  margin-top: 0.7rem;
}
.logo img {
  width: 6%;
}
ul {
  margin-top: 1rem;
  display: flex;
  list-style: none;
}
li {
  font-size: 14pt;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 10px;
}
main {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 20px;
}
.lista {
  width: 68%;
}
.new-produto {
  width: 30%;
  margin-left: 2%;
}
.lista > h2 {
  color: #293b44;
}
.top-table {
  background: #293b44;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 2px 2px 6px 2px #cecece;
}
.form-all {
  padding: 10px;
  background: #293b4427;
  border-radius: 6px;
  box-shadow: 2px 2px 6px 2px #cecece;
}
.btn-my {
  color: #fff;
  background-color: #293b44;
  border-color: #293b44;
  margin-left: 70%;
}
.btn-my:hover {
  background: #fff;
  color: #293b44;
}
